table,
td,
th {
  border: 1px solid black;
  border-spacing: 2px;
  overflow: hidden;
  table-layout: fixed;
  text-align: center;
  width: 40px;
}

th {
  font-weight: bold;
}

td:nth-of-type(1) {
  font-weight: bold;
}
